body.background
{
    background-color:black;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    height: 100vh;
}
.banner
{
    background-image: url('image.png');
    background-size:cover;
    height:350px;
    width:1349px;
    padding-top:1px
}
.head
{
    height:250px;
    width:500px;
    background-color:black;
    padding-top:40px;
    padding-bottom:20px;
    padding-left:40px;
    padding-right:40px;
    border:solid #00FFFF 1px;
    margin-left:20px;
    margin-top:50px;
    margin-right:20px;
}
main
{
    height:2600px;
    width:100%;
    text-align:center
}

.content
{
    height:800px;
    width:1000px;
    background-color:#24252f;
    padding-top:40px;
    padding-bottom:20px;
    padding-left:40px;
    padding-right:40px;
    border:solid #00FFFF 2px;
    margin-left:170px;
    margin-top:100px;
    margin-right:20px;
}
.header
{
    color:#00FFFF;
    padding-top:15px;
    padding-right:20px;
    padding-left:20px;
    padding-bottom:20px;
}
.container
{
    padding:40px;
    justify-content:space-between;
    display:flex;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}
.text
{
    color:#00FFFF;
    height:10px;
    width:190px;
}
.image
{
    height:100px;
    width:140px;
    padding-left:20px;
}

.title1,.title2,.title3
{
    color:#00FFFF;
    height:10px;
    width:150px;
}
.author1,.author2,.author3
{
    color:#00FFFF;
    padding-top:50px;
    height:5px;
    width: 150px
}
.slide
{
    height:700px;
    width:1200px;
    padding-top:40px;
    padding-bottom:20px;
    padding-left:45px;
}

.footer
{
    height:250px;
    width:1349px;
    background-color:#24252f;
}


.fcon
{
    height:100px;
    width:250px;
    background-color:black;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:20px;
    padding-right:20px;
    border:solid #00FFFF 2px;
    margin-left:10px;
    margin-top:10px;
    margin-right:20px;
}
.ftext
{
    padding-top:5px;
    font-size:20px;
}
